
.terminalHead {
    font-family: monospace;
    color: #fff;
    margin: auto;
    padding: 35px;
    font-size: 40px;
    text-align: center;
}

.terminalBar {
    display: flex;
    text-align: center;
    width: 100%;
    height: 25px;
    background-color: #4d4d4d;
    margin: 0 auto;
    font-family: monospace;
    padding: auto;
    float: none;
    border-radius: 5px 5px 0 0;
}

.terminalRed {
    background-color: #E94B35;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    left: 10px;
    top: 5px;
    position: relative;
}

.terminalYellow {
    background-color: #f0f000;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    left: 22px;
    top: 5px;
    position: relative;
}
.terminalGreen {
    background-color: #1AAF5C;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    left: 34px;
    top: 5px;
    position: relative;
}
.terminalScreen {
    background-color: #1e1e1e8a;
    width: 100%;
    height: 100%;
    min-height: 150px;
    border-radius: 0 0 5px 5px;
    margin: 0 0 0 0;
    padding-top: 1px;
 
}
.terminalFont {
    color: #e7e7e7;
    font-family: monospace;
    font-size: 15px;
    text-align: left;
    position: static;
    margin-block-start: 0 !important;
    margin-block-end: 0;
    margin-left: 5px;
}

.terminalTitle {
    position: relative;
    color: #e7e7e7;
    font-family: monospace;
    font-size: 12px;
    text-align: center;
    margin: auto;
}