
// .background {
//     background-image: url("/background.jpg");
//     background-repeat: no-repeat;
//     background-size: cover;
//     position: fixed;
//     width: 100vw;
//     height: 100vh;
//     z-index: -1;
//     filter: blur(10px);
//     -webkit-filter: blur(10px) ;
//     background-position: center;
//     transform: scale(1.1); 

//     -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
//     -moz-animation: fadein 2s; /* Firefox < 16 */
//      -ms-animation: fadein 2s; /* Internet Explorer */
//       -o-animation: fadein 2s; /* Opera < 12.1 */
//          animation: fadein 2s;
// }

.background-container {
  //position: fixed;
    width: 100%;
    height: 100%;
    background-color: #252934;
    position: fixed;
    left: 0;
}

.App {
    text-align: center;
    height: 100%;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  
  
  #root {
    width: 100%;
    height: 100%;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}